$radius: 6px;
$border-width: 2px;
$item-width: 420px;
$app-header-width: 300px;
$heading-width: 250px;

$root-item-height: 80px;
$item-height: 60px;

$root-child-gradient-width: 20px;
$root-child-left-padding: 25px;
$root-child-left-distance: 80px;
$lower-level-distance: calc(0.5 * $root-child-left-distance);

$not-root-child-left-distance: 60px;

$button-large-size: 120px;
$button-small-size: 48px;
$button-small-anchor-size: 15px;
$secondary-left-indent: 10px;

$blue-gradient-color: #7176f7;
$root-text-shadow-color: rgb(74, 74, 155);
$form-background-color: #fefefe;
$common-text-color: #fff;

$item-background-1: #06575b;
$item-background-2: #37597b;
$item-background-3: #0c645a;
$item-background-4: #145f76;
$item-background-5: #2f2074;
$item-background-6: #db1b7c;
$item-background-7: #fcb316;
$item-background-8: #1b75bc;
$item-background-9: #ec7049;
$item-background-0: #000;

$root-text-shadow: 0px 2px 2px $root-text-shadow-color;

@font-face {
    font-family: "Brandon Grotesque Black";
    src: url(brandon.eot);
    src: url(brandon.woff2);
    src: url(brandon.woff);
    src: url(brandon.ttf);
    font-display: swap;
}
