.App {
    text-align: center;
    &__header {
        @include common-box;
        width: $app-header-width;
        margin: 0 auto;
        top: -80px;
        position: relative;
        background-color: $item-background-1;
        padding: 1px;
    }
    &__title {
        color: white;
    }
}
