.Children {
    &_root {
        position: relative;
        bottom: 0;
        left: 50%;
        border-left: 2px solid white;
        padding: 25px 0;
    }
    &_not-root {
        position: relative;
        bottom: 0;
        left: $not-root-child-left-distance;
        border-left: 2px solid white;
        padding: 25px 0;
    }
}
