@use "sass:math";

.Item {
    @include common-box;
    &__heading {
        @include common-box;
        @include common-border(#fff);
        padding: 7px 20px 7px 15px;
        width: 250px;
        min-height: $item-height;
        line-height: normal;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &_root {
        position: relative;
        left: calc(((50% - $app-header-width / 2)) - $item-width / 2);
        @include box_shadow;
        @include gradient;
        color: white;
        font-size: 28px;
        letter-spacing: 1.5px;
        width: $item-width;
        height: $root-item-height;
        line-height: $root-item-height;
        text-shadow: $root-text-shadow;
        &__heading {
        }
    }
    &_lower-level {
        position: relative;
        width: $item-width;
        background-color: $item-background-2;
        margin-left: $lower-level-distance;
        padding-left: 45px;
        margin-top: 35px;
        padding-top: 30px;
        padding-bottom: 25px;

        & .relation-distancing-span_lower-level {
            position: absolute;
            top: 50%;

            &:before {
                @include relation-text;
                content: attr(data-dynamic);
                position: absolute;
                left: -($lower-level-distance + $root-child-left-padding + $root-child-gradient-width + 50px); // niespójne nazewnictwo w stałych
                transform: translateY(50%);
                bottom: 50%;
            }
        }
        &:before {
            position: absolute;
            content: "";
            background-image: linear-gradient(#a375f3, #7176f7);
            left: 0px;
            height: 100%;
            width: $root-child-gradient-width;
            top: 0;
            border-radius: 6px 0 0 6px;
        }
        &:after {
            position: absolute;
            content: "";
            left: -$lower-level-distance;
            height: 2px;
            top: 50%;
            width: $lower-level-distance;
            background-color: white;
        }
    }

    &_level-2 {
        background-color: $item-background-2;
    }
    &_level-3 {
        background-color: $item-background-3;
    }
    &_level-4 {
        background-color: $item-background-4;
    }
    &_level-5 {
        background-color: $item-background-5;
    }
    &_level-6 {
        background-color: $item-background-6;
    }
    &_level-7 {
        background-color: $item-background-7;
    }
    &_level-8 {
        background-color: $item-background-8;
    }
    &_level-9 {
        background-color: $item-background-9;
    }
    &_level-0 {
        background-color: $item-background-0;
    }

    &_level-1 {
        background-color: $item-background-1;
        position: relative;
        margin: 40px 0;
        width: $item-width;
        min-height: 1px;
        margin-left: 80px;
        line-height: 104px;
        padding-left: $root-child-gradient-width + $root-child-left-padding;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: start;
        & .relation-distancing-span_top-level {
            position: absolute;
            top: 50%;

            &:before {
                @include relation-text;
                content: attr(data-dynamic);
                position: absolute;
                left: -($root-child-left-distance + $root-child-left-padding + $root-child-gradient-width + 50px);

                transform: translateY(50%);
                bottom: 50%;
            }
        }
        &:before {
            position: absolute;
            content: "";
            background-image: linear-gradient(#a375f3, #7176f7);
            left: 0px;
            height: 100%;
            width: $root-child-gradient-width;
            top: 0;
            border-radius: 6px 0 0 6px;
        }
        &:after {
            position: absolute;
            content: "";
            left: -$root-child-left-distance;
            height: 2px;
            top: 50%;
            width: $root-child-left-distance;
            background-color: white;
        }
    }
}
