.common-grid {
    display: grid;
    border-radius: $radius;
    grid-gap: 20px;
}

.cross {
    width: 100%;
    height: 100%;
    background-size: cover;

    :hover,
    :focus {
        outline: none;
        text-decoration: none;
    }
}
